<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">

</head>
<body>
<header>
    {% block header %}

    {% endblock %}
    <nav>
        {% block nav %}

        {% endblock %}
    </nav>
</header>

<div id="content">
    {% block body %}{% endblock %}
</div>

<footer>
    {% block footer %}

    {% endblock %}
</footer>
<script src="{{ asset('build/app.js') }}"></script>

</body>
</html>